body {
  color: #2C2C2C;
  font-family: sans-serif;
  line-height: 1.6;
  font-size: 1.1rem; /* 基本サイズを少し大きめに */
  padding: 10px;
  margin: 0;
}

h1 {
  font-size: 2.2rem; /* PC用 */
  margin-bottom: 20px;
  font-weight: bold;
}

h2 {
  font-size: 1.8rem;
  margin-bottom: 15px;
  font-weight: bold;
}

h3 {
  font-size: 1.4rem;
  margin-bottom: 15px;
  font-weight: bold;
}

p, li, ul {
  font-size: 1.1rem; /* 読みやすく */
  line-height: 1.6;  /* 行間も確保 */
}

@media (max-width: 600px) {
  ul, li {
    font-size: 1rem; /* スマホ用に少し縮小 */
  }
  .banner {
    padding: 10px;
    font-size: 0.9rem;
  }
  .content {
    padding: 0 5px;
  }
}

/* スマホ用 */
@media (max-width: 600px) {
  body {
    font-size: 1rem;
  }
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.3rem;
  }


}

.banner {
  background-color: #f0f8ff;
  padding: 20px;
  text-align: center;
  border-left: 4px solid #003366;
  margin-top: 20px;    /* 上余白 */
  margin-bottom: 40px; /* 下余白 */
  box-sizing: border-box;
}

div {
    padding: 2% 4%;
    max-width: 800px;  /* 大画面でも横幅制限 */
    margin: 0 auto;    /* 中央寄せ */
  }


h5 {
    font-weight: 200;
    color: #778899;
  }

footer {
  width: 100%;
  text-align: center;
  padding: 1%;
  color: #2C2C2C;
}
.logo-n {
  width: 32px;
}
hr.solid {
  border-top: 1px solid #b1b1b1;;
}

/* .pictures {
  width: 100%;
  z-index: -1;
} */

/* .hyperlinks:link, .hyperlinks:visited {
  color: rgb(254, 254, 254);
  background-color: #2C2C2C ;
  padding: 0px 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.hyperlinks:hover {
  color: rgb(254, 254, 254);
  background-color: #b63604 ;
  padding: 0px 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.cta {
  color: #ffffff;
  background-color: #000000 ;
  padding: 8px;
} */
