body {
  color: #2C2C2C;
  font-family: sans-serif;
  line-height: 1.7;
  font-size: 1.9rem;
  margin:0;
}

section{
  margin-bottom:40px;
}

.wrapper{
  max-width:680px;
  margin:auto;
  padding:60px 5%;
}

.name-outline {
  color: transparent;
  -webkit-text-stroke: 1.2px #dda57f;
  font-family:fangsong;
  font-weight: 700;
  font-style: italic;
  letter-spacing: 8%;
}

.tagline{
  font-family:fangsong;
  font-size: 3.2rem;
  font-weight: 700;
  font-style: italic;
  letter-spacing: 8%;
}

/* headings */

h1{
  font-size:2.2rem;
  font-style:italic;
  font-weight:700;
  margin-bottom:25px;
}

h2{
  font-size:2.2rem;
  font-weight:700;
  margin-top:40px;
  margin-bottom:12px;
}

/* text */

p, li{
  font-size:1.9rem;
  line-height:1.9;
}

ul{
  padding-left:20px;
}

li{
  margin-bottom:8px;
}


/* banner */

.banner{
  background:#fafafa;
  border-left:4px solid #003366;
  padding:24px;
  margin-bottom:40px;
}

.quote{
  font-style:italic;
  font-size:1.8rem;
}

.quote-author{
  font-weight:600;
  margin-bottom:10px;
}

/* links */

a{
  color:#003366;
  text-decoration:underline dashed;
}

a:hover{
  text-decoration:underline dotted;
  color:#001f4d;
}


/* contact links */

section a{
  display:inline-block;
  margin-right:20px;
}

section a:last-child{
  margin-right:0;
}


/* footer */

footer{
  text-align:center;
  margin-top:40px;
}

.logo-n{
  width:32px;
}


/* divider */

hr.solid{
  border: none;
  height: 24px;
  margin: 70px 0;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 12 Q25 0 50 12 T100 12 T150 12 T200 12' stroke='%23000' stroke-opacity='0.32' stroke-width='1.5' fill='none'/%3E%3C/svg%3E");
  background-repeat: repeat-x;
  background-size: 200px 24px;
}


/* mobile */

@media (max-width:600px){

body{
font-size:1.7rem;
}

h1{
font-size:2.1rem;
}

h2{
font-size:1.7rem;
}

section a{
display:block;
margin-bottom:10px;
}

}
